{% extends "network/layout.html" %}





{% block body %}

{% if user.is_authenticated %}
<div id="newPost" >
<h3 style="margin-left: 1cm;">Create new post:</h3><br>
   <center> <div id="newPost" style="margin-left: 1cm;">
        <form action="{% url 'newPost' %}" method="post">
            {% csrf_token %}
       <textarea placeholder="Post something" name="content" style="width:500px; height:200px; border-radius: 0.5cm; "></textarea><br> 
       <input class="btn btn-primary" type="submit" value="Post">
        </form>
    </div></center>
{% endif %}
<hr>
</div>


<div id="posts" >
    <div id="editArea" hidden="true" style="margin-left: 1cm;">
        <h3>Edit Post</h3>
        <textarea id="ta" style="width: 10cm; height: 3cm; "></textarea>
        <button class="btn btn-primary" id="edit" style="margin-left: 1cm;">Save changes</button><br><br>
    </div>
    <h3 style="margin-left: 1cm;">Posts</h3><br><br>
{% for post in page_obj %}

<div  id="{{post.id}}" style="margin-bottom: 1cm; margin-left: 1cm;">
    <a href="{% url 'profile' id=post.op.id  %}" style="text-decoration: none;"><h5>{{post.op}} </h5></a>
    <span id="content {{post.id}}">{{post.content}}</span><br><br>
    <span style="color: gray;">Date: {{post.date}}</span><br>
    {% if user == post.op %}
    <br><a href="#editArea"><button class="btn btn-primary" onclick="setEdit( {{post.id}}, `{{post.content}}` )">Edit</button></a><br><br>
    
    {% endif %}
  
    <div>
    
    {% if post.id in likedPosts %}
    <button type="button" id='like {{post.id}}' class="btn btn-link" onclick="likePost({{post.id}}, {{user.id}})">Unlike</button> <span id='count {{post.id}}'>{{post.likesCount}}</span>
    
   
    
   {% else %}
    <button type="button" id='like {{post.id}}' class="btn btn-link" onclick="likePost({{post.id}}, {{user.id}})">Like</button> <span id='count {{post.id}}'>{{post.likesCount}}</span>
    
    {% endif %}
</div>

</div>

{% endfor %}
</div>
<div class="container">
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
